doctype html
//
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Generic - Spectral by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='/assets/css/home.css')
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header
        h1 HOME
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='#') FAQ
                  li
                    a(href='/login') Log out
      ul.ul
        li.li.active
          a(href='/home/page/1') HOME
        li.li
          a(href='/profile') PROFILE
        li.li
          a(href='COFFEESHOP.HTML') COFFEESHOP
    br
    // Main
    article#main
      header
        h1 CHOOSE SOME PEOPLE WHO YOU WANTS TO HAVE A COFFEE BREAK 
        each user in usertab
          h3.title Welcome to Coffeemate! #{user.strName}

          each stud in studtab
            if stud.page == stud.curpage
            .card
              h3.card-header
              h3.subtitle 
                |
                a(href='/profile/'+ stud.intID) #{stud.strName}
              .card-body
                #image-container
                  img(src='/images/'+ stud.strProfilePicture,  alt='')
                //-   if item.strFirstPic != 'blank.jpg'
                //-     img(src='/images/uploaded_images/'+item.strFirstPic)
                //-   else if item.strSecondPic != 'blank.jpg'
                //-     img(src='/images/uploaded_images/'+item.strSecondPic)
                //-   else
                //-     img(src='/images/uploaded_images/'+item.strThirdPic)
                p.card-text
                h9 Details:
                ul
                  li Age: #{stud.Age}
                  li Location: #{stud.strLocation}
                  li Favorite Coffee: #{stud.strFavCoffee}
                br


      //- .gallery
      //-   a(target='_self', href='#')
      //-     img(src='/images/lance.jpg', alt='LANCE', width='300', height='300')
      //-   .desc LANCE SAN PABLO
      //- .gallery
      //-   a(target='_self', href='#')
      //-     img(src='/images/hannah.jpg', alt='HANNAH', width='300', height='300')
      //-   .desc HANNAH CORDERO
      //- .gallery
      //-   a(target='_self', href='#')
      //-     img(src='/images/loven.jpg', alt='LOVEN', width='300', height='300')
      //-   .desc LOVEN BUNQUE
    // Scripts
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='/assets/js/main.js')
