extends ../../../templates/navbaradmin.pug

block content
  h3.title Reported Posts Manager
  h3.subtitle &nbsp Active Posts and Transactions
  hr(style='border: 0.5px solid #000105')
  .field.is-grouped
    p.control
      a.button.is-warning.is-inverted.is-hovered(class="button") REPORTED POSTS
    p.control
      a.button.is-warning.is-inverted.is-outlined(class="button", href="/admin/post-reportlog/1") REPORT POST LOG
  hr(style='border: 0.5px solid #000105')
  each post in posttab
    if post.page == post.curpage
      h3.title
        b #{post.strItemTitle}
      h3.subtitle &nbsp#{post.strCatName}
      p PostID: #{post.intItemID}
      p
        b Reports: #{post.CNT}
      p Price: Php #{post.price}
      p Seller: &nbsp
        u #{post.strName} ( #{post.strItemSNum} )
      p Date: #{post.date}
      br
      if post.strTransStatus == 'Ongoing'
        p Item has ongoing transaction
        p
          a.button.is-warning.is-inverted.is-outlined(class="button", href='/categories/'+post.strCatName+'/'+post.intItemID) View Post
      else if post.strTransStatus == 'SFinished'
        p Item has ongoing transaction
        p
          a.button.is-warning.is-inverted.is-outlined(class="button", href='/categories/'+post.strCatName+'/'+post.intItemID) View Post
      else if post.strTransStatus == 'BFinished'
        p Item has ongoing transaction
        p
          a.button.is-warning.is-inverted.is-outlined(class="button", href='/categories/'+post.strCatName+'/'+post.intItemID) View Post
      else
        .field.is-grouped
          p.control
            a.button.is-warning.is-inverted.is-outlined(class="button", href='/categories/'+post.strCatName+'/'+post.intItemID) View Post
          p.control
            a.button.is-warning.is-inverted.is-outlined(class="button", href='/admin/post/remove/'+post.intItemID) Remove
      hr(style='border: 0.5px solid #000105')

  each curpage in curpagetab
    .field.is-grouped
      if curpage > 1
        each prevpage in prevpagetab
          p.control
            a.button.is-warning.is-inverted.is-outlined.is-hovered(href='/admin/post-reported/'+ prevpage ) << Previous
      each lastpage in lastpagetab
        each page in pagetab
          if page == curpage
            p.control
              a.button.is-warning.is-inverted.is-hovered() #{page}
          else
            if page <= lastpage
              p.control
                a.button.is-warning.is-inverted.is-outlined(href='/admin/post-reported/'+ page ) #{page}
        each nextpage in nextpagetab
          if curpage < lastpage
            p.control
              a.button.is-warning.is-inverted.is-outlined.is-hovered(href='/admin/post-reported/'+ nextpage ) Next >>
