doctype html
html
  head
    title Generic - Spectral by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.1.css')
    link(rel='stylesheet', href='/assets/css/home.1.css')
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")

  body
    #page-wrapper
      // Header
      header#header
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='#') Help
                  li
                    a(href='/login') Log out
            li.li
              a(href='/home/page/1') HOME
            li.li
              a(href='/profile') PROFILE
            li.li
              a(href='/coffeeshops/page/1') COFFEESHOP
    br
    // Main
    article#main
      header
          each stud in studtab
            if stud.page == stud.curpage
            .card
              h3.card-header
              h3.subtitle 
                |
                a(href='/viewcoffeeshop/'+ stud.intCID) #{stud.strCName}
              .card-body
                #image-container
                  img(src='/images/'+ stud.strProfilePicture,  alt='')
                p.card-text
                h9 Details:
                ul
                  li Address: #{stud.strCAddress}
                  li Telephone Number: #{stud.strCTnumber}
                  li Rating: #{stud.intCRating}
                  li Specialty of the house: #{stud.strSpecial}
                br
    // Scripts
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='/assets/js/main.js')
