doctype html
html
  head
    title Generic - Spectral by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.2.css')
    link(rel='stylesheet', href='/assets/css/profile.2.css')
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")

  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='#') Help
                  li
                    a(href='/login') Log out
            li.li
              a(href='/home/page/1') HOME
            li.li
              a(href='/profile') PROFILE
            li.li
              a(href='/coffeeshops/page/1') COFFEESHOP  
      ul.ul
        li#li.active
          a(href='/profile/-/ogtransaction/1') transactions
        li#li
          a(href='/profile/-/mycoffeemate/1') coffeemates
        li#li
          a(href='/profile/-/invite/1') My sent invites
        li#li
          a(href='/profile/-/rinvite/1') My received invites
        br
    p.control(style="margin-left:margin-top:5%;")
      a.button( href='/profile/-/ogtransaction/1') Ongoing transactions
      | &nbsp&nbsp&nbsp
      a.button( href='/profile/-/ftransaction/1') Finished transactions
    each trans in transtab
      each user in usertab
        if trans.NaginviteID == user.intID
          .card(style="margin-left:5%; margin-right:5%;")
            h3.card-header
            h3.subtitle 
              | You have invited 
              a(href='/profile/'+ trans.IninviteID, target="_blank") #{trans.Ininvite}.
            .card-body
              #image-container
                img(src='/images/'+ trans.IninvitePic,  alt='')
              p.card-text
              h9 Details:
              ul
                li "#{trans.Detalye}"
                li When: #{trans.Mydate}
                li At: #{trans.Mytime}
                li 
                  | Where:
                  a(id="hi")(href='/coffeeshops/page/1/viewcoffeeshop/'+ trans.intCID, target="_blank") #{trans.strCName}
                li Status: #{trans.Kalagayan}
                a.button(href='/profile/invitation/cancel/'+trans.TransactionID) Cancel  
        
        else
          .card(style="margin-left:5%; margin-right:5%;")
            h3.card-header
            h3.subtitle 
              a(href='/profile/'+ trans.NaginviteID, target="_blank") #{trans.Nanginvite} 
              |invited you. 
            .card-body
              #image-container
                img(src='/images/'+ trans.NanginvitePic,  alt='')
              p.card-text
              h9 Details:
              ul
                li "#{trans.Detalye}"
                li When: #{trans.Mydate}
                li At: #{trans.Mytime}
                li 
                  | Where:
                  a(id="hi")(href='/coffeeshops/page/1/viewcoffeeshop/'+ trans.intCID, target="_blank") #{trans.strCName}
                li Status: #{trans.Kalagayan}
                a.button(href='/profile/invitation/cancel/'+TransactionID) Cancel

    // Scripts
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')